[package]
name = "xtask"
version = "0.1.0"
edition = "2021"

[dependencies]
clap = { version = "4.0", features = ["derive"] }
anyhow = "1.0"
serde_json = "1.0"
familiar-schemas = { path = "../packages/familiar-schemas" }
cel-interpreter = "0.4"
walkdir = "2.4"
